<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director</title>
    <style>
        .profile {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }
        .profile img {
            max-width: 200px;
            border-radius: 50%;
        }
    </style>
</head>
<body>

    <div class="profile">
        <img src="static/uploads/maxresdefault.jpg" alt="Director Image">
        <h2>dambldoor</h2>
        <p>Директор школы искусств и танцев профессор dambldoor.В свои 1360 лет выиграл голос дети.У него есть любимый домашний голубь по имени barsik </p>
    </div>
</body>
</html>